In [1]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import PolynomialFeatures

from math import sqrt

import numpy as np
import pandas as pd

In [2]:
ADMISSION_FILE_PATH = 'C:/Users/USER/Desktop/김주호/코딩/Python/2. Machine Learning/admission_data.csv'

In [3]:
admission_df = pd.read_csv(ADMISSION_FILE_PATH).drop('Serial No.', axis = 1)   #Serial No.는 사용하지 않고 행과 열 방향 결정

In [4]:
admission_df.head()     # 마지막 Chance of Admit이 우리가 궁금한거다

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,337,118,4,4.5,4.5,9.65,1,0.92
1,324,107,4,4.0,4.5,8.87,1,0.76
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65

In [5]:
X = admission_df.drop(['Chance of Admit '], axis = 1)      # 입력 지정

In [6]:
polynomial_transformer = PolynomialFeatures(6)     # 6차 방정식으로 Bias를 줄인다

In [7]:
polynomial_features = polynomial_transformer.fit_transform(X.values)    # X의 데이터들을 0제곱 1제곱 ... 6제곱 한다

In [8]:
features = polynomial_transformer.get_feature_names(X.columns)   # 입력 지정된 데이터프레임의 feature 이름들을 가져온다

In [9]:
X = pd.DataFrame(polynomial_features, columns = features)    #X의 데이터들을 k제곱한 데이터들을 데이터프레임으로 만들기

In [10]:
y = admission_df[['Chance of Admit ']]      # 출력 지정

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 5)    #train과 test로 데이터 쪼개기

In [12]:
model = LinearRegression()

In [13]:
model.fit(X_train, y_train)            # 다항 회귀

LinearRegression()

In [14]:
y_train_predict = model.predict(X_train)

In [15]:
y_test_predict = model.predict(X_test)

In [16]:
mse = mean_squared_error(y_train, y_train_predict)
print("train에서의 성능")
print(sqrt(mse))
print("---------------------")
mse = mean_squared_error(y_test, y_test_predict)
print("test에서의 성능")
print(sqrt(mse))                                            # 과적합 되었다 ㅠㅠ

train에서의 성능
0.0015047953396610122
---------------------
test에서의 성능
5.090715917357951